.pt-0{padding-top:0!important;}
.pt-1{padding-top:.25rem!important;}
.pt-2{padding-top:.5rem!important;}
.pt-3{padding-top:1rem!important;}
.pt-4{padding-top:1.5rem!important;}
.pt-5{padding-top:3rem!important;}
.pt-50{padding-top:50%!important;}
.pt-100{padding-top:100%!important;}
.pb-0{padding-bottom:0!important;}
.pb-1{padding-bottom:.25rem!important;}
.pb-2{padding-bottom:.5rem!important;}
.pb-3{padding-bottom:1rem!important;}
.pb-4{padding-bottom:1.5rem!important;}
.pb-5{padding-bottom:3rem!important;}
.ps-0{padding-left:0!important;}
.ps-1{padding-left:.25rem!important;}
.ps-2{padding-left:.5rem!important;}
.ps-3{padding-left:1rem!important;}
.ps-4{padding-left:1.5rem!important;}
.ps-5{padding-left:3rem!important;}

@media (min-width:576px){
  .pb-sm-0{padding-bottom:0!important;}
  .pb-sm-1{padding-bottom:.25rem!important;}
  .pb-sm-2{padding-bottom:.5rem!important;}
  .pb-sm-3{padding-bottom:1rem!important;}
  .pb-sm-4{padding-bottom:1.5rem!important;}
  .pb-sm-5{padding-bottom:3rem!important;}
}
@media (min-width:768px){
  .pb-md-0{padding-bottom:0!important;}
  .pb-md-1{padding-bottom:.25rem!important;}
  .pb-md-2{padding-bottom:.5rem!important;}
  .pb-md-3{padding-bottom:1rem!important;}
  .pb-md-4{padding-bottom:1.5rem!important;}
  .pb-md-5{padding-bottom:3rem!important;}

  .ps-md-0{padding-left:0!important;}
  .ps-md-1{padding-left:.25rem!important;}
  .ps-md-2{padding-left:.5rem!important;}
  .ps-md-3{padding-left:1rem!important;}
  .ps-md-4{padding-left:1.5rem!important;}
  .ps-md-5{padding-left:3rem!important;}
}
@media (min-width:992px){
  .pb-lg-0{padding-bottom:0!important;}
  .pb-lg-1{padding-bottom:.25rem!important;}
  .pb-lg-2{padding-bottom:.5rem!important;}
  .pb-lg-3{padding-bottom:1rem!important;}
  .pb-lg-4{padding-bottom:1.5rem!important;}
  .pb-lg-5{padding-bottom:3rem!important;}

  .ps-lg-0{padding-left:0!important;}
  .ps-lg-1{padding-left:.25rem!important;}
  .ps-lg-2{padding-left:.5rem!important;}
  .ps-lg-3{padding-left:1rem!important;}
  .ps-lg-4{padding-left:1.5rem!important;}
  .ps-lg-5{padding-left:3rem!important;}
}
@media (min-width:1200px){

}
@media (min-width:1400px){

}
@media (min-width:1600px){

}